$COLOR: white;
$HOVER_COLOR: red;
body {
    margin: 0px;
    background-color: rgb(153, 178, 235);
    p {
        font-size: 12px;
        color:$COLOR;
        &:hover{
            color: $HOVER_COLOR;
        };
        &::after{
            content: '';
            top: calc(23px + 3%);
        }
    }
}
